.formWrapper {
    height: 100vh;
    background: url(./partials/assets/ali-yahya-508903-unsplash.jpg) bottom center;
    background-size: cover;
    color: $silver;
    .form {
       .fieldset {
          border: none;
       }
    }
    .btn:hover {
        background: $silver;
        color: $black;
        
    }
}
// hiding the radio button
input[type = radio] {
    visibility:hidden;
}
label {
    cursor: pointer;
    display: block;
    padding: 6px;
    width: 300px;
    font-size: 2rem;
    &:hover {
        background: $brown;
        box-shadow: 2px 0 5px darkslategray;
    }
}
input:checked + label {
    background: $silver;
    color: $brown;
    box-shadow: 2px 0 5px darkslategray;
}