.form {
    margin: 0 25%;
    width: 50%;
    height: 100%;
    padding: 5% 3%;
    overflow: hidden;
    color: $silver;
    h2 {
        color: $yellow;
        margin: 4% 0;
    }
    .fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    .btn {
        margin: 5% 0;
        padding: 0;
        font-size: 4rem;
        color: $yellow;
        &:hover {
            color: $silver;
        }
    }
}

// hiding the radio button
input[type=radio] {
    display: none;
}
label {
    margin: 0;
    font-family: $heading-font;
    cursor: pointer;
    display: block;
    padding: 10px 0px;
    width: fit-content;
    font-size: 3.5rem;
    &:hover {
        color: $brown;
    }
}
input:checked + label {
    color: $yellow;
}

//responsive mixins
@include breakPoint(break20) {
    .form {
        width: 100%;
        margin: 0 3%;
    }
}

@include breakPoint(break60) {
    label {
        font-size: 3.2rem;
        padding: 1% 0;
    }

    .form {
        .btn {
            font-size: 3rem;
        }
    }
}