@import './_utils.scss';

body, ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.App {
	height: 100vh;
	background: url(./partials/assets/ali-yahya-508903-unsplash.jpg) no-repeat bottom;
	background-size: cover;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.btn {
	padding: 10px 20px;
	padding-left: 0;
	border: 0;
	outline: 0;
	background: transparent;
	color: $silver;
	font-family: $heading-font;
	font-size: 3rem;
	letter-spacing: 2px;
	text-transform: capitalize;
	&:hover {
		color: $yellow;
	}
	&--outline {
		border: 1px solid $silver;
		border-radius: 25px;
		padding: 5px 20px;
	}
}

