@import './_utils.scss';
body, h1, h2, h3, ul, li, p {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
h1.h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 10rem;
	text-align: center;
	color: $silver;
	// letter-spacing: 2px;
}
h3.h3 {
	font-family: $heading-font;
	font-size: 3.5rem;
}
.wrapper {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
}

.btn {
	padding: 10px;
	width: 20rem;
	border-radius: 20px;
	background: transparent;
	letter-spacing: 2px;
	font-family: $heading-font;
	text-transform: uppercase;
}
.floatLeft {
	float: left;
}
.fontYellow {
	color: $yellow;
	font-weight: bold;
}