// LANDING COMPONENT STYLES
.landing {
    margin: 0 auto;
    height: 100%;
    padding: 5% 3%;
    overflow: hidden;
}

.landing__description {
    color: $white;
    height: calc(100% - 9rem);
    position: relative;
}

.landing__text {
  position: absolute;
  top: 0;
}


.textblock {
  font-size: 2rem;
}

.textblock:first-child {
  margin-top: 20px;
  font-size: 2.8rem;
  font-style: italic;
  line-height: 3.5rem;
  color: $yellow;
}

.textblock:last-child {
  width: 50%;
  margin-top: 150px;
  line-height: 3rem;
}

.landing__btn {
  position: absolute;
  bottom: 0;
}

//responsive mixins
@include breakPoint(break30) {
  .textblock:first-child {
    font-size: 2.5rem;
  }

  .textblock {
    margin: 20% 0;
    font-size: 1.8rem;
  }
}

@include breakPoint(break50) {
  .landing__description {
    height: auto;
}

  .landing__description,
  .landing__text,
  .landing__btn {
    position: static
  }

  .textblock:first-child {
      font-size: 3rem;
      font-style: italic;
      color: $yellow;
  }

  .textblock:last-child {
    width: 100%;
  }

  .textblock {
      margin: 15% 0;
      font-size: 2rem;
      line-height: 2.5rem;
  }
}

@include breakPoint(break60) {
  .textblock:last-child {
    display: none;
  }
}

