// LANDING COMPONENT STYLES
.landing {
//    background: url(./partials/assets/ali-yahya-508903-unsplash.jpg) no-repeat bottom;
//    background-size: cover;
//    width: 100%;
    margin: 0 auto;
    max-width: fit-content;
    height: 100%;
    padding: 5% 3%;
    overflow: scroll;
    &__description {
      width: fit-content;
	  height: 100%;
      color: $white;
	  //   margin: 0 auto;
      h1 {
		  display: block;
          max-width: max-content;
		}
		.floatLeft {
			width: 50%;
			margin-top: auto;
			margin-bottom: 0;
         .textblock:first-child {
            font-size: 3rem;
            line-height: 2.5rem;
            font-style: italic;
            color: $yellow;
         }
         .textblock {
            margin: 15% 0;
            font-size: 2rem;
            line-height: 2.5rem;
         }
      }
   }
}

//responsive mixins
@include breakPoint(break60) {
   .landing {
      &__description {
         h1 {
            padding-top: 1rem;
            font-size: 4rem;
         }
         .floatLeft {
            width: 100%;
            padding-left: 2.5%;
            .textblock:first-child {
               padding: 2.5rem 0 4rem 0;
               font-size: 1.5rem;
               color: $yellow;
            }
            .textblock:last-of-type {
               display:none;
            }
            .btn {
               width: 15rem;
            }
         }
      }
   }
}

