@keyframes fill {
    0% { fill: $black; opacity: 0.25;}
    50% { fill: $yellow; opacity: 0.5; }
    100% { fill: $black; opacity: 0.25; }
}

#cocktail {
    animation-delay: 2s;
    animation: fill 1s infinite;
}

.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    &--wrapper {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        svg {
            width: 50%;
        }
    }
}
