//RESULTS STYLING
//NAV BUTTONS
.nav {
   &--back, &--home {
      color: $white;
      border: none;
      background: none;
      padding: 20px;
      &:hover {
         color: $yellow;
      }
   }
   &--back {
      float: left;
   }
   &--home {
      float: right;
   }
   i {
      font-size: 3rem;
      &:hover {
         color: $yellow;
      }
   }
}

//RESULTS RENDERED
.results {
   background: $silver;
   height: 100%;
   overflow: scroll;
   .resultsWrap {
      background-size: cover;
      background-color: hsla(0, 0, 0, 0.5); 
      background-blend-mode: overlay;   
      width: 100%;
      height: 100%;
      max-height: 100%;
      position: relative;
      overflow: scroll;      
   }
}

.buttons {
    padding: 2rem 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn--shake {
    float: left;
    width: 50%;
}

.btn--serve {
    float: right;
    width: 50%;
}


.resultsItem {
   padding: 16rem 0 10rem 0;
   color: $white;
   padding: 1rem 0;
   .resultsItem__title {
      font-size: 5rem;
      color: $white;
      height: 50%;
      text-align: center;
      @include breakPoint(break60){
         padding-bottom: 2rem;
         font-size: 3rem;
      }
   }
   .resultsItem__subtitle, &__description--beverages {
      font-size: 2.2rem;
      font-style: italic;
      text-align: center;
   }
}

//responsive mixins
@include breakPoint(break30) {
    .buttons {
        padding: 0 10% 2.5rem;
        position: static;
    }
}

@include breakPoint(break50) {
    .btn--shake, .btn--serve {
        font-size: 2.5rem;
    }
}

@include breakPoint(break60) {
    .btn--shake, .btn--serve {
        font-size: 2rem;
    }
}