article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

.App {
  height: 100vh;
  background: url(./partials/assets/ali-yahya-508903-unsplash.jpg) no-repeat bottom;
  background-size: cover; }
  @media (max-width: 650px) {
    .App {
      background-position: 0 0; } }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.btn {
  padding: 10px 20px;
  padding-left: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: #b6afa0;
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: capitalize; }
  .btn:hover {
    color: #f1bc2b; }

html {
  font-size: 62.5%; }

body {
  font-family: "Assistant", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05rem; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

h1.h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 9rem;
  line-height: 8rem;
  color: #b6afa0; }
  @media (max-width: 1080px) {
    h1.h1 {
      font-size: 7rem; } }
  @media (max-width: 850px) {
    h1.h1 {
      font-size: 5rem; } }
  @media (max-width: 650px) {
    h1.h1 {
      line-height: 5rem; } }

h2.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem; }
  @media (max-width: 506px) {
    h2.h2 {
      font-size: 3.5rem; } }

h3.h3 {
  font-family: "Assistant", sans-serif;
  font-size: 3.5rem; }
  @media (max-width: 506px) {
    h3.h3 {
      font-size: 1.5rem; } }

.fontYellow {
  color: #f1bc2b;
  text-shadow: 1px 1px 1px #212227; }

.capitalize {
  text-transform: capitalize; }

.landing {
  margin: 0 auto;
  height: 100%;
  padding: 5% 3%;
  overflow: hidden; }

.landing__description {
  color: ivory;
  width: 50%;
  height: calc(100% - 9rem);
  position: relative; }

.landing__text {
  position: absolute;
  top: 0; }

.textblock:first-child {
  font-size: 3rem;
  font-style: italic;
  color: #f1bc2b; }

.textblock {
  margin: 15% 0;
  font-size: 2rem;
  line-height: 2.5rem; }

.landing__btn {
  position: absolute;
  bottom: 0; }

@media (max-width: 850px) {
  .textblock:first-child {
    font-size: 2.5rem; }
  .textblock {
    margin: 20% 0;
    font-size: 1.8rem; } }

@media (max-width: 650px) {
  .landing__description {
    width: 100%;
    height: auto; }
  .landing__description,
  .landing__text,
  .landing__btn {
    position: static; }
  .textblock:first-child {
    font-size: 3rem;
    font-style: italic;
    color: #f1bc2b; }
  .textblock {
    margin: 15% 0;
    font-size: 2rem;
    line-height: 2.5rem; } }

.form {
  margin: 0 25%;
  width: 50%;
  height: 100%;
  padding: 5% 3%;
  overflow: hidden;
  color: #b6afa0; }
  .form h2 {
    color: #f1bc2b;
    margin: 4% 0; }
  .form .fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  .form .btn {
    margin: 5% 0;
    padding: 0;
    font-size: 4rem;
    color: #f1bc2b; }
    .form .btn:hover {
      color: #b6afa0; }

input[type=radio] {
  display: none; }

label {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  cursor: pointer;
  display: block;
  padding: 10px 0px;
  width: fit-content;
  font-size: 3.5rem; }
  label:hover {
    color: #4f1b00; }

input:checked + label {
  color: #f1bc2b; }

@media (max-width: 900px) {
  .form {
    width: 100%;
    margin: 0 3%; } }

@media (max-width: 506px) {
  label {
    font-size: 3rem; }
  .form .btn {
    font-size: 3.5rem; } }

.nav--back, .nav--home {
  color: ivory;
  border: none;
  background: none;
  padding: 20px; }
  .nav--back:hover, .nav--home:hover {
    color: #f1bc2b; }

.nav--back {
  float: left; }

.nav--home {
  float: right; }

.nav i {
  font-size: 3rem; }
  .nav i:hover {
    color: #f1bc2b; }

.results {
  background: #b6afa0;
  height: 100%;
  overflow: scroll; }
  .results .resultsWrap {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    overflow: scroll; }

.buttons {
  padding: 2rem 20%;
  width: 100%;
  position: absolute;
  bottom: 0; }

.btn--shake {
  float: left;
  width: 50%; }

.btn--serve {
  float: right;
  width: 50%; }

.resultsItem {
  padding: 16rem 0 10rem 0;
  color: ivory;
  padding: 1rem 0; }
  .resultsItem .resultsItem__title {
    font-size: 5rem;
    color: ivory;
    height: 50%;
    text-align: center; }
    @media (max-width: 506px) {
      .resultsItem .resultsItem__title {
        padding-bottom: 2rem;
        font-size: 3rem; } }
  .resultsItem .resultsItem__subtitle, .resultsItem__description--beverages {
    font-size: 2.2rem;
    font-style: italic;
    text-align: center; }

@media (max-width: 850px) {
  .buttons {
    padding: 0 10% 2.5rem;
    position: static; } }

@media (max-width: 650px) {
  .btn--shake, .btn--serve {
    font-size: 2.5rem; } }

@media (max-width: 506px) {
  .btn--shake, .btn--serve {
    font-size: 2rem; } }

.recipe {
  margin: 2% auto;
  max-width: 850px;
  border-radius: 10px;
  background-color: #fff; }
  .recipe .container {
    height: 425px;
    padding: 2%;
    z-index: 100; }

.recipe__description {
  width: 40%;
  height: 100%;
  padding: 10px 20px 10px 10px;
  float: left;
  overflow: scroll; }
  .recipe__description li {
    border-bottom: 0.25px dashed lightgrey; }

.recipe__alcoholInfo {
  width: 60%;
  float: left;
  border-left: 0.5px solid #212227; }
  .recipe__alcoholInfo figure {
    width: 100%;
    max-width: 100%; }
    .recipe__alcoholInfo figure:first-child {
      border-bottom: 0.5px solid #212227; }
    .recipe__alcoholInfo figure img {
      width: 30%;
      float: left; }
    .recipe__alcoholInfo figure figcaption {
      width: 70%;
      float: left;
      position: relative; }
      .recipe__alcoholInfo figure figcaption .alcoholInfo__text {
        position: absolute;
        top: 50%;
        transform: translateY(25%); }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text h3 {
          font-family: "Abril Fatface", cursive;
          font-size: 2.4rem;
          letter-spacing: 0.25rem; }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text .alcohol__price--lrg {
          font-size: 3.0rem; }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text a {
          color: #212227; }
          .recipe__alcoholInfo figure figcaption .alcoholInfo__text a:hover {
            border-bottom: 1px solid #212227; }

@media (max-width: 850px) {
  .recipe {
    margin: 2% 10%;
    max-width: auto;
    border-radius: 10px;
    background-color: #fff; }
    .recipe .container {
      height: 100%;
      padding: 5%; }
  .recipe__description {
    float: none;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-bottom: 2rem; }
    .recipe__description h2 {
      font-size: 3rem; }
    .recipe__description li {
      text-align: left;
      padding: 1rem 0;
      font-size: 2rem;
      border-bottom: none; }
  .recipe__alcoholInfo {
    width: 100%;
    border-left: none; }
    .recipe__alcoholInfo .alcoholInfo__box {
      width: 50%;
      float: left; }
    .recipe__alcoholInfo figure:first-child {
      border-bottom: none; }
    .recipe__alcoholInfo figure figcaption {
      position: static; }
      .recipe__alcoholInfo figure figcaption .alcoholInfo__text {
        position: static;
        transform: translateY(-5%); }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text h3 {
          font-size: 2rem; }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text .alcohol__price--lrg {
          font-size: 2.5rem; } }

@media (max-width: 785px) {
  .recipe__alcoholInfo .alcoholInfo__box {
    width: 100%; }
  .recipe__alcoholInfo figure figcaption .alcoholInfo__text {
    transform: translateY(60%); } }

@media (max-width: 650px) {
  .recipe__alcoholInfo figure figcaption .alcoholInfo__text {
    transform: translateY(30%); } }

@media (max-width: 506px) {
  .recipe__alcoholInfo .alcoholInfo__box {
    margin-bottom: 20%; }
  .recipe__alcoholInfo figure {
    text-align: center; }
    .recipe__alcoholInfo figure img {
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
    .recipe__alcoholInfo figure figcaption {
      width: 100%; }
      .recipe__alcoholInfo figure figcaption .alcoholInfo__text {
        transform: translateY(20%); }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text h3 {
          font-size: 1.8rem; }
        .recipe__alcoholInfo figure figcaption .alcoholInfo__text .alcohol__price--lrg {
          font-size: 2rem; } }

@keyframes fill {
  0% {
<<<<<<< HEAD
    fill: #212227;
    opacity: 0.25; }
  50% {
    fill: #f1bc2b;
    opacity: 0.5; }
  100% {
    fill: #212227;
    opacity: 0.25; } }

#cocktail {
  animation-delay: 2s;
  animation: fill 5s infinite; }
=======
    fill: blue; }
  100% {
    fill: black; } }
>>>>>>> 6e28a45aa65357bd512555b29b3d71e2011d920e

.preloader {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
=======
  position: relative;
  color: #fff;
  border: 1px red solid; }
>>>>>>> 6e28a45aa65357bd512555b29b3d71e2011d920e
  .preloader--wrapper {
    border: 1px blue solid;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .preloader--wrapper svg {
      width: 50%; }
