article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1.h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 10rem;
  text-align: center;
  color: #b6afa0; }

h2.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem; }
  @media (max-width: 506px) {
    h2.h2 {
      font-size: 3.5rem; } }

h3.h3 {
  font-family: "Assistant", sans-serif;
  font-size: 3.5rem; }
  @media (max-width: 506px) {
    h3.h3 {
      font-size: 1.5rem; } }

.App {
  width: 100vw;
  height: 100vh;
  background: url(./partials/assets/ali-yahya-508903-unsplash.jpg) no-repeat bottom;
  background-size: cover; }

.wrapper {
  width: 95%;
  max-width: 1080px;
  margin: 0 auto; }

.btn {
  padding: 10px;
  width: 20rem;
  border-radius: 20px;
  border: 1px solid ivory;
  background: transparent;
  letter-spacing: 2px;
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase; }

.floatLeft {
  float: left; }

.fontYellow {
  color: #f1bc2b;
  text-shadow: 1px 1px 1px #212227; }

.capitalize {
  text-transform: capitalize; }

html {
  font-size: 62.5%; }

body {
  font-family: "Assistant", sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.landing {
  height: 100%;
  overflow: scroll; }
  .landing__description {
    color: ivory;
    width: 90%;
    margin: 0 auto; }
    .landing__description h1 {
      padding-top: 5rem; }
    .landing__description .floatLeft {
      width: 50%;
      padding-left: 2.5%; }
      .landing__description .floatLeft .textblock:first-child {
        padding-top: 2rem;
        font-size: 2.5rem;
        color: #f1bc2b; }
      .landing__description .floatLeft .textblock {
        line-height: 1.6;
        padding: 0 0 5rem 0;
        font-size: 2rem; }

@media (max-width: 506px) {
  .landing__description h1 {
    padding-top: 1rem;
    font-size: 4rem; }
  .landing__description .floatLeft {
    width: 100%;
    padding-left: 2.5%; }
    .landing__description .floatLeft .textblock:first-child {
      padding: 2.5rem 0 4rem 0;
      font-size: 1.5rem;
      color: #f1bc2b; }
    .landing__description .floatLeft .textblock:last-of-type {
      display: none; }
    .landing__description .floatLeft .btn {
      width: 15rem; } }

.form {
  height: 100%;
  color: #b6afa0;
  overflow: scroll; }
  .form .fieldset {
    border: none; }

.btn:hover {
  background: #b6afa0;
  color: #212227; }

input[type=radio] {
  visibility: hidden; }

label {
  cursor: pointer;
  display: block;
  padding: 6px;
  width: 300px;
  font-size: 2rem; }
  label:hover {
    background: #4f1b00;
    box-shadow: 2px 0 5px darkslategray; }

input:checked + label {
  background: #b6afa0;
  color: #4f1b00;
  box-shadow: 2px 0 5px darkslategray; }

.nav--back, .nav--home {
  color: ivory;
  width: 45%;
  border: none;
  background: none;
  padding: 0; }
  .nav--back:hover, .nav--home:hover {
    color: #f1bc2b; }

.nav--back {
  float: left; }

.nav--home {
  float: right; }

.nav i {
  font-size: 3rem; }
  .nav i:hover {
    color: #f1bc2b; }

.results {
  background: #b6afa0;
  height: 100%;
  overflow: scroll; }
  .results .resultsWrap {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 100%;
    width: 100%;
    overflow: scroll;
    max-height: 100%; }
    .results .resultsWrap .btn {
      width: 45%;
      font-size: 3rem;
      color: ivory; }
      .results .resultsWrap .btn:hover {
        background: #b6afa0;
        color: ivory;
        text-shadow: 1px 1px 1px #212227; }
      .results .resultsWrap .btn--shake {
        float: left; }
      .results .resultsWrap .btn--serve {
        float: right; }
      @media (max-width: 506px) {
        .results .resultsWrap .btn {
          font-size: 1.2rem; } }

.resultsItem {
  padding: 16rem 0 10rem 0;
  color: ivory;
  padding: 1rem 0; }
  .resultsItem .resultsItem__title {
    font-size: 5rem;
    color: ivory;
    height: 50%;
    text-align: center; }
    @media (max-width: 506px) {
      .resultsItem .resultsItem__title {
        padding-bottom: 2rem;
        font-size: 3rem; } }
  .resultsItem .resultsItem__subtitle, .resultsItem__description--beverages {
    text-align: center; }
  .resultsItem .resultsItem__subtitle {
    font-size: 2rem; }
  .results .resultsWrap .btn {
    width: 45%;
    font-size: 3rem; }
    .results .resultsWrap .btn:hover {
      background: #4f1b00;
      color: ivory; }
    .results .resultsWrap .btn--shake {
      float: left; }
    .results .resultsWrap .btn--serve {
      float: right; }
    @media (max-width: 506px) {
      .results .resultsWrap .btn {
        font-size: 1.2rem; } }

.resultsItem__image {
  border-radius: 20px;
  border: 2px solid #212227; }

.resultsItem__description {
  padding: 1rem 0; }
  .resultsItem__description .h3, .resultsItem__description--beverages {
    float: left; }
  .resultsItem__description .h3 {
    width: 35%; }
  .resultsItem__description--beverages {
    font-size: 1.5rem;
    width: 65%; }

@keyframes fill {
  0% {
    margin-bottom: 0; }
  16% {
    margin-bottom: 100%;
    height: 20px; }
  50% {
    margin-bottom: 0; }
  100% {
    margin-bottom: 0; } }

.preloader {
  width: 100%;
  height: 100%;
  position: relative;
  color: white; }
  .preloader--wrapper {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .preloader--wrapper svg {
      width: 25%; }
